.nav-link {
    color: #f0f0f0 !important;
}

.nav-link:hover {
    color: white !important;
}

.nav-item.active {
    color: white !important;
    border-bottom: 2px solid #ffffff;
}
.container-fluid {
    margin-top: 20px;
    min-height: 1000px;
}
.form-container {
    margin-top: 20px;
}
.footer {

    height: 50px;
}
.copyright {
    padding-top: 10px;
    color: white;
}
.map-container-2{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-container-2 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.contact-container {
    margin-top: 100px;
}
.contact-row {
    margin-top: 50px;
}
.about-container {
    margin-top: 100px;
}
